@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
body {
  background: #f6f5f7;
  font-family: "Montserrat", sans-serif;
}
.text-right {
  float: right;
  cursor: pointer;
}

.mt-15 {
  margin-top: 15px;
}

.mr-5 {
  margin-right: 5px;
}

svg {
  float: right;
  margin-top: 2px;
  font-size: 18px;
}
